body{
  margin:0;
}

.top-row, .bottom-row{
  height:50%;

}

.top-row{
  display:block;
  padding: 20px 70px;
}

.bottom-row{
  display:flex;
  flex-direction: row;
  justify-content: center;
  color: white;

}

.price{
  font-size: 60px;
}

span{
  font-size: 30px;
  padding-left:20px;
  margin-bottom:20px;
}


.left-column, .right-column{
  width:50%;
  padding:70px;
  background-color: hsl(179, 62%, 43%);
}

.title{
  color: hsl(179, 62%, 43%);
  font-size: 60px;
}

.subtitle{
  color:hsl(71, 73%, 54%);
  font-size: 50px;
}

.submit{
  background-color: hsl(71, 73%, 54%);
  padding:20px;
  width:100%;
  border-radius: 12px;
  border: none;
  margin-top: 20px;
  height:20%;
  color: white;
  font-size: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.paragraph-title{
  color:hsl(218, 22%, 67%);
  font-size: 40px;
}

.list{
  font-size: 20px;
  line-height: 0.5;
  color: hsl(204, 43%, 93%);
}

.title-why{
  margin-bottom: 75px;
}

@media screen and (max-width:1219px){
  .bottom-row{
    flex-direction: column;
  }
  .top-row{
    padding:20px;
    width: 100%;
  }
  .title{
    font-size: 40px;
  }
  .subtitle{
    font-size: 25px;
  }
  .paragraph-title{
    font-size: 22px;
    line-height: 2;
  }
  .left-column, .right-column{
    width:100%;
    padding:30px;
  }
  .bottom-row{
    padding: 0;
    width:100%;
  }
}
